<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UserRoleMapper">
    <select id="getRoleIdsByUserId" resultType="string">
      select role.role from role, user_role where role.id = user_role.role_id and user_role.user_id = #{id}
    </select>
</mapper>